@page "/"
@using VirtManager.Core
@using VirtManager
@using System.Collections.Generic

@if(loaded){
        @if(selectedMachine == null)
        {
                <VirtualMachinesList vms="@vms" selectedMachine="@selectedMachine" actionOnClickVMItem="ActionOnListClick" />
        }
        else
        {
                <button @onclick="() => GoToList()">Go Back</button>
                <div class="container-fluid main_container d-flex fullheight">
                        <div name="GridContainer" class="row flex-fill">
                                <section class="leftsection border-top border-right " style="background-color: white;">
                                        <header class="border-bottom">
                                                <div style="padding-left: 25px;">
                                                        <b style="font-size: 18px;">Virtual Machines</b>
                                                </div>
                                        </header>
                                        <div class="vm_container_vertical">
                                                <VirtualMachinesList vms="@vms" selectedMachine="@selectedMachine" actionOnClickVMItem="ActionOnListClick" />
                                        </div>
                                </section>
                                <section class="rightsection border-top" style="background-color: white;">
                                        <header class="border-bottom">
                                                @selectedMachine.Name
                                        </header>
                                        <div name="GridContainer" class="row flex-fill">
                                                <VirtualMachinePanel sidePanelSizePx=200 sidePanelMarginPx=24 Menus="@menus">
                                                </VirtualMachinePanel>
                                        </div>
                                </section>
                        </div>
                </div>
        }
}
else
{
        <div>Loading ...</div>
}

@code{
        private List<VirtualMachine> vms;
        private VirtualMachineManager manager = new VirtualMachineManager();
        private VirtualMachine selectedMachine = null;
        private List<BaseVirtualMachineMenu> menus = new List<BaseVirtualMachineMenu>(){
                new OverviewMenu(){Name = "Overview"}
        };

        public bool loaded = false;

        public void GoToList()
        {
                selectedMachine = null;
                InvokeAsync(StateHasChanged);
        }

        protected override async Task OnInitializedAsync()
        {
                loaded = false;
                vms = (await manager.GetAllMachines()).ToList();
                loaded = true;
                await InvokeAsync(StateHasChanged);
        }

        public void ActionOnListClick(VirtualMachine machine)
        {
                selectedMachine = machine;
        }
}